In [2]:
import pandas as pd

data = [['Dog', 'Golden Retriever', 1, 5], ['Dog', 'German Shepherd', 2, 5], ['Dog', 'Mule', 200, 1], ['Cat', 'Shirazi', 5, 2], ['Cat', 'Siamese', 3, 3], ['Cat', 'Sphynx', 7, 4]]
queries = pd.DataFrame(data, columns=['query_name', 'result', 'position', 'rating']).astype({'query_name':'object', 'result':'object', 'position':'Int64', 'rating':'Int64'})

In [3]:
df_new = pd.DataFrame({
    'query_name': ['lfdxfi', 'meayln', 'phqghu', 'rcvscx', 'lfdxfi'],
    'result': ['qduxwfnfozvsr', 'prepggxrpnrvy', 'wcysyycqpevik', 'mznimkkasvwsr', 'kycxfxtlsgyps'],
    'position': [2, 1, 1, 1, 2],
    'rating': [5, 1, 2, 4, 2]
})

In [4]:
df_new["quality"] = df_new["rating"] / df_new["position"]

In [5]:
queries

  query_name            result  position  rating
0        Dog  Golden Retriever         1       5
1        Dog   German Shepherd         2       5
2        Dog              Mule       200       1
3        Cat           Shirazi         5       2
4        Cat           Siamese         3       3
5        Cat            Sphynx         7       4

In [6]:
df_new["poor_query_percentage"] = df_new.groupby("query_name")["rating"].transform(lambda s: (s < 3).mean() * 100)

In [7]:
df_new

  query_name         result  position  rating  quality  poor_query_percentage
0     lfdxfi  qduxwfnfozvsr         2       5      2.5                   50.0
1     meayln  prepggxrpnrvy         1       1      1.0                  100.0
2     phqghu  wcysyycqpevik         1       2      2.0                  100.0
3     rcvscx  mznimkkasvwsr         1       4      4.0                    0.0
4     lfdxfi  kycxfxtlsgyps         2       2      1.0                   50.0

In [8]:
df = df_new.groupby(
    by=["query_name", "poor_query_percentage"]
).agg(
    {"quality" : "mean"}
).reset_index()

In [9]:
df["quality"] = df["quality"].round(2)
df["poor_query_percentage"] = df["poor_query_percentage"].round(2)